@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
  width : 12px;
}

::-webkit-scrollbar-track {
  background: #fff
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 4px;
}

/* ::-webkit-scrollbar-thumb:hover{
  background: #0000ff;
} */